@import 'https://use.typekit.net/oov2wcw.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century-gothic, sans-serif;
}

header{
    background-color: #19f1e7;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header > h1 {
    margin: 0;
    font-weight: normal;
    font-weight: bold;
}

#add-toDo{
    background-color: #ffffff;
    display:inline;
    border: none;
    color: #19f1e7;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 25%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    height: 40px;
    margin-left: 20px;
}

.toDo-list{
    margin-top: 70px;
    padding: 20px;
    height:100%;
    display:flex;
    flex-direction:row;
}

.toDo-items{
    padding:10px;
    width:200px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    position:relative;
    overflow-y:hidden;
}

.toDo-items:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y:auto;
}

.toDo-items h3, .toDo-items h4{
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    display:inline;
    font-weight: bold;
}

.toDo-items h4{
    font-size: 15px;
    display:block;
}

.toDo-items p{
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
}
.toDo-items input[type="checkbox"]{
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
    position:absolute;
    right:5px;
    top:10px;
    border-radius: 5px;
}

.toDo-items input[type="checkbox"]:hover{
    transform: scale(1.3);
}

#completed:checked + h3,
#completed:checked + h4,
#completed:checked + p{
    text-decoration: line-through ;
    color: #999;
} 