@import 'https://use.typekit.net/oov2wcw.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century-gothic, sans-serif;
}

header{
    background-color: #19f1e7;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

header > h1 {
    margin: 0;
    font-weight: normal;
    margin-left:20px;
    margin-right:auto;
    width:fit-content;
    font-weight: bold;
}

.toDo-list{
    margin-top: 70px;
    padding: 20px;
    height:100%;
    display:flex;
    flex-direction:row;
}

.toDo-items{
    padding:10px;
    width:200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}
